doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    meta(name='description', content="Volunteer with the Ottawa Swing Dance Society! The Ottawa Swing Dance Society's success comes from the energy and dedication of our exceptional  team of volunteers.  In exchange for you spending time helping us out with that dance you will receive free admission.")
    // Then the stylesheets
    link(rel='stylesheet', href="bootstrap/bootstrap+theme.min.css")
    if typeof user === "object"
      if user.isAdmin === true
        link(rel='stylesheet', href="stylesheets/pikaday.css")
    link(rel='stylesheet', href="stylesheets/style.css")
    // Open Graph tags
    meta(property="og:title",content=''+title)
    meta(property="og:type",content="website")
    meta(property="og:image",content=full_url+"/osds-new-description-image.jpg")
    meta(property="og:url",content=''+full_url)
    meta(property="og:description",content="Volunteer with the Ottawa Swing Dance Society! The Ottawa Swing Dance Society's success comes from the energy and dedication of our exceptional  team of volunteers.  In exchange for you spending time helping us out with that dance you will receive free admission.")
    // Favicons (generated using https://realfavicongenerator.net/)
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png?v=gAajOYbeQr")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png?v=gAajOYbeQr")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png?v=gAajOYbeQr")
    link(rel="manifest", href="/manifest.json?v=gAajOYbeQr")
    link(rel="mask-icon", href="/safari-pinned-tab.svg?v=gAajOYbeQr", color="#5bbad5")
    link(rel="shortcut icon", href="/favicon.ico?v=gAajOYbeQr")
    meta(name="theme-color", content="#c4a814")
  body
    div.description
      img(src="osds-new-description-image.jpg", alt="Ottawa Swing Dance Society")
      p Volunteer with the <a href="http://www.swingottawa.ca">Ottawa Swing Dance Society</a>! The Ottawa Swing Dance Society's success comes from the energy and dedication of our exceptional  team of volunteers.  In exchange for you spending time helping us out with that dance you will receive free admission.
    div.container
      ul.nav.pull-right
        div.dropdown#dropdown
          button#drop3.btn.btn-primary.dropdown-toggle(type='button',data-toggle='dropdown')
          ul.dropdown-menu
            li
              a(href='#', data-toggle="modal", data-target="#emailPrefs") Email preferences
            li.divider
            li
              a(href='mailto:osdsvol@gmail.com') Contact us
            li.divider
            li
              a(href='logout') Log out
              
      h1= title
      h2#friday= friday
      p#user
      if typeof user === "object"
        if user.isNewUser === true
          div.alert.alert-warning Note: some shifts are not available for new volunteers.
      p#date!= datewell
      table#shifts!= shiftsText
      
      #noShifts.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Shifts closed
            .modal-body
              p#noShiftsMessage Shifts are closed for this week! Volunteering shifts for next Friday open on Sunday at 12 PM.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') OK
        
      if typeof user === "object"
        #emailPrefs.modal.fade(role='dialog')
          form(action="emailPrefs",method="post")
            .modal-dialog
              .modal-content
                .modal-header
                  button.close(type='button', data-dismiss='modal') ×
                  h4.modal-title Email preferences
                .modal-body
                  p Receive an email for:
                    br
                    br
                    strong Signing up for shifts
                    br
                    input(type="text", name="_csrf", value=csrfToken, class="csrf")
                    <input type="checkbox" name="sendChangedShift" id="sendChangedShift" /> I change the time of my volunteering shift
                    br
                    <input type="checkbox" name="sendDeletedShift" id="sendDeletedShift" /> I cancel my volunteering shift
                    br
                    <input type="checkbox" name="sendNewShift" id="sendNewShift" /> I sign up for a new volunteering shift
                    br
                    br
                    strong When I volunteer
                    br
                    <input type="checkbox" name="sendReminder" id="sendReminder" /> A reminder of my volunteering shift (Thursday at 6 PM)
                    br
                    <input type="checkbox" name="sendThanks" id="sendThanks" /> A thank you email for volunteering
                    br
                    br
                    strong Each week
                    br
                    <input type="checkbox" name="sendVolunteeringCall" id="sendVolunteeringCall" /> A notification when shifts for the coming week are available (Sunday 12 PM)
                    br
                    <input type="checkbox" name="sendLastCall" id="sendLastCall" /> A notification if any shifts are still available on Friday morning
                    br
                    br
                    span#adminEmail
                      strong Exec
                      br
                      <input type="checkbox" name="sendSchedule" id="sendSchedule" /> The volunteer schedule each week (Friday at 5 PM)
                .modal-footer
                  input.btn.btn-default(type='submit', value="Save")
      div#extraText
      if typeof user === "object"
        if user.isAdmin === true
          div#adminTools
            h2.center <br> Exec tools
            p.center
              input#otherDel1.btn.btn-default.btnShow(value="Cancel a shift")
              input#otherDel2.btn.btn-primary.btnHide(value="Hide cancel buttons")
              input#details1.btn.btn-default.btnShow(value="See volunteer details")
              input#details2.btn.btn-primary.btnHide(value="Hide volunteer details")
              input#freq1.btn.btn-default.btnShow(value="Show top volunteers")
              input#freq2.btn.btn-primary.btnHide(value="Hide top volunteers")
              input#printing1.btn.btn-default.btnShow(value="Change printing text")
              input#printing2.btn.btn-primary.btnHide(value="Hide printing text")
              input#execs1.btn.btn-default.btnShow(value="Manage admins")
              input#execs2.btn.btn-primary.btnHide(value="Hide admins")
              input#cancel1.btn.btn-default.btnShow(value="Cancel a week")
              input#cancel2.btn.btn-primary.btnHide(value="Hide cancelled weeks")
              input#template1.btn.btn-default.btnShow(value="Modify template")
              input#template2.btn.btn-primary.btnHide(value="Hide template")
            table#userDetails.btnHide
              thead
                tr
                  th Time
                  th Volunteer
                  th Email address
              tbody
            div#printing.btnHide
              h3 Edit printing text
              p This text is only shown when this page is printed by an admin:
              br
              textarea(id='printingTextArea')
              br
              button#printingButton(type="button", class="btn btn-primary") Save
            div#adminDetails.btnHide
              h3 Add an admin
              p To add an admin, search volunteers by their name:
              input#adminInput
              span &nbsp;
              button#adminButton.btn.btn-primary Search
              br
              div#tooShort.alert.alert-warning Search query is too short! (minimum four characters)
              table#adminResults
                thead
                  tr
                    th Name
                    th Email address
                tbody
              h3 Current admins:
              table#currentAdmins
                thead
                  tr
                    th Name
                    th Email address
                tbody
            div#frequent.btnHide
              p This table shows the top 20 volunteers for the last 12 months
              table#freqTable
                thead
                  tr
                    th Volunteer
                    th Shifts
                    th Email address
              tbody
            div#cancelWeeks.btnHide
              h3 Cancel a week
              table#cancelledWeeks
                thead
                  tr
                    th(colspan=2) Cancelled weeks
                tbody
              p Select a week to cancel:
              input(type="text", id="datepicker")
              br
              br
              input(type='radio', name='actuallyCancelled', value='true', checked='checked')
              span The dance is actually cancelled
              br
              input(type='radio', name='actuallyCancelled', value='false')
              span The volunteering tool is just not being used for this dance
              br
              br
              button#cancelButton(type="button", class="btn btn-primary") Cancel week
            div#template.btnHide
              h3 Modify the shift template
              p To modify the layout of shifts, edit them below and then click 'Save'. &nbsp;
                span#nextWeekWarning The shifts will take effect starting next week. <br>
              table#templateTable
                thead
                  tr
                    th Time
                    th Number of <br>non-exec volunteers
                    th Number of <br>exec volunteers
                    th New volunteers can<br>sign up for this shift
                tbody
              button#templateAddRow.btn.btn-primary(type='button') Add a row
              span &nbsp;
              button#templateRemoveRow.btn.btn-primary(type='button') Remove last row
              br
              br
              button#templateSaveTemplate.btn.btn-primary(type='button') Save
            
            #newTemplate.modal.fade(role='dialog')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Template saved
                  .modal-body
                    p The template has been saved and will take effect starting this coming week. You'll receive an email confirmation of this change.
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') OK
            #newExtraText.modal.fade(role='dialog')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Printing text saved
                  .modal-body
                    p The new printing text has been saved and is now visible when printing the page.
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') OK
            #delAdmin.modal.fade(role='dialog')
              .modal-dialog
                .modal-content
                  .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Admin removed
                  .modal-body
                  .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') OK
           
      #privacyPolicy.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Privacy policy
            .modal-body
              p If you are not logged in, we collect basic information about your computer and your visit, including your IP address, the type of operating system and browser you use, your computer's general location, what pages you visit on our site, and what links you click on.
              p By logging in, we collect the following personal information, as provided to us by either Google, Facebook, or Microsoft (according to your choice of login provider and conditional on your acceptance of their respective terms of service):
              ul
                li Full name
                li Email address
                li Internet address (URL) of your profile picture
                li ID of your login provider’s account (e.g. Facebook profile ID)
              p Site administrators (execs) are able to see this information and will use it to verify your volunteering shift and possibly to contact you regarding it. Our automatic email system will use your full name and email address to email you reminders and confirmations of your shift, according to your email preferences. You may also receive occasional emails related to your account (e.g. if you become an exec, you will receive an email confirming this).
              p The following information will be publicly displayed for the week in which you have signed up for a volunteering shift, to indicate that you have signed up for the shift:
              ul
                li First name(s) and last initial
                li Profile picture
              p Your personal information is stored electronically according to industry best practices, is encrypted in transit, and will not be shared with third parties. If you have any questions or concerns, or if you wish to manually update your personal information stored with us, please contact <a href="mailto:osdsvol@gmail.com">osdsvol@gmail.com</a>
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') OK

      div#footer
        p
          a(href="https://GitHub.com/davidschlachter/dance-volunteering/")
            include ../public/images/GitHub-Mark-32px.png.b64
            span Open-source on GitHub
          span &nbsp; |&nbsp; 
          a#showPrivacyPolicy(href="#") Privacy policy
          span &nbsp; |&nbsp;
          a(href="http://www.swingottawa.ca/") Ottawa Swing Dance Society
    script(src="javascripts/jquery-3.1.1.min.js")
    script(src="javascripts/moment-2.17.1.min.js")
    script(src="bootstrap/bootstrap.min.js")
    script(nonce=nonce).
      user = !{JSON.stringify(user)};
      csrf = !{JSON.stringify(csrfToken)};
      delIDs = !{JSON.stringify(delIDs)};
    script(src="javascripts/main.js", async="async")
